<style>

			.wholePage {
				background:black;
				font-family:arial;
				width:1000px;
				margin:auto;
				font-size:18px;
			}

			.character {
				color:#00935E;
			}

			.commendatore {
				color:#9499AC;
			}

</style>